html {
  scroll-behavior: smooth;
}
body {
  margin: 0px auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.start-block {
  background-image: url('../assets/start-screen.png');
  height: 908px;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-block {
  max-width: 100vw;
  margin: 0px auto;
  height: 908px;
  background-repeat: no-repeat;
}
header {
  position: absolute;
  margin: 0px auto;
  padding: 30px;
  max-width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}
h1 {
  color: #f1cdb3;
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
  margin-bottom: 10px;
  margin-top: 0px;
  letter-spacing: 0.06em;
}
.logo-def {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  color: #ffffff;
  letter-spacing: 0.1em;
}
.nav-main ul {
  width: 443px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}
.nav-main li,
.nav-main li a {
  display: inline-block;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.nav-main li a:hover {
  cursor: pointer;
  color: #fafafa;
  transition: all 1s;
}
.active-link{
  border-bottom: 2px solid #f1cdb3;
}

.top-content-block {
  max-width: 1240px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 500px 658px;
  height: 728px;
  position: relative;
  left: 40px;
  top: 180px;
}
.top-image img {
  height: 728px;
}
.top-content {
  position: relative;
  width: 460px;
  height: 322px;
  left: 0px;
  top: 163px;
}
.header-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: white;
  width: 310px;
  height: 114px;
}
.header-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-top: 42px;
  margin-bottom: 42px;
}
.header-btn {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f1cdb3;
  border: 1px solid #f1cdb3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-btn:hover {
  background-color: #fddcc4;
  cursor: pointer;
  transition: all 1s;
}
.about-block {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  height: 408px;
  margin: 0px auto;
}
.about-section,
.friends,
.help,
.donation-section {
  padding: 80px 40px 100px 40px;
  margin: 0px auto;
}
.about-img {
  text-align: left;
  position: relative;
  width: 430px;
}
.about-title,
.donat-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  width: 370px;
  height: 90px;
  margin-bottom: 20px;
  padding-top: 14px;
}
.about-text,
.donat-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  width: 430px;
}
.friends {
  background: #f6f6f6;
}
.friends-title {
  margin: 0px auto;
  width: 400px;
  height: 90px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 60px;
  text-align: center;
}
.friends-block {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  max-width: 990px;
  overflow: hidden;
  column-gap: 90px;
  transition: 0.75s;
}
.friend {
  text-align: center;
  background-color: #fafafa;
  height: 435px;
  z-index: 1;
}
.freind-second-block {
  height: 165px;
  background-color: #fafafa;
}
.friend:hover {
  cursor: pointer;
  background-color: white;
  transition: all 0.5s;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.friend:hover .friend-learn {
  background: #fddcc4;
  cursor: pointer;
  border: 2px solid #fddcc4;
  transition: all 1s;
}
.friend-name,
.help-name {
  height: 23px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 30px;
  margin-bottom: 30px;
}

.friend-learn {
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.friend-learn:hover {
  background: #fddcc4;
  cursor: pointer;
  border: 2px solid #fddcc4;
  transition: all 1s;
}
.know-rest-block {
  margin: 0px auto;
  text-align: center;
}
.know-rest {
  margin: 0px auto;
  margin-top: 10px;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: none;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}
.know-rest:hover {
  background: #fddcc4;
  cursor: pointer;
  transition: all 1s;
}
.arrows {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  position: relative;
  top: -15.2rem;
  margin: 0px auto;
  z-index: 0;
}
.arrow {
  display: flex;
  align-items: center;
}
.arrow-item {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px;
  position: relative;
}
.arrow-item:hover {
  background: #fddcc4;
  cursor: pointer;
  border: 2px solid #fddcc4;
}
.help-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  max-width: 1200px;
  row-gap: 55px;
  column-gap: 120px;
}
.help-item {
  text-align: center;
}
.help-name {
  margin-bottom: 0px;
}
.donation-section {
  margin: 0px auto;
  display: flex;
  background: #f6f6f6;
}
.donation-block {
  margin: 0px auto;
  display: flex;
}
.donat-img {
  width: 555px;
  position: relative;
  left: 45px;
  top: 10px;
}
.donation-text-small {
  margin-bottom: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation-text {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  width: 380px;
  height: 72px;
}
.credit-icon {
  width: 30px;
  height: 23px;
  margin: 10px 15px;
}
.telephone {
  display: flex;
  align-items: center;
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.donat-title {
  margin-bottom: 20px;
  padding-top: 0px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.donat-text {
  padding-left: 30px;
}
footer {
  background-image: url('../assets/footer-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-container {
  display: grid;
  margin: 0px auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  grid-column-gap: 150px;
  max-width: 1280px;
}
.footer-first-block {
  width: 290px;
}
.footer-central-block {
  width: 310px;
}
.footer-item-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 16px;
}
.footer-item-contact1,
.footer-first-item-contact1 {
  margin-top: 30px;
  margin-bottom: 35px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
}
.footer-item-contact1:hover,
.footer-first-item-contact1:hover,
.footer-icon:hover {
  color: #fcfbfa;
  transition: all 1s;
}
.footer-icon {
  margin-right: 20px;
}
.footer-puppy {
  position: relative;
  display: flex;
  align-items: end;
}
.footer-item-title1 {
  margin-bottom: 40px;
}
.footer-first-item-contact1 {
  margin-top: 40px;
  margin-bottom: 45px;
}
.burger {
 display:none;
  transition: 0.3s;
  position: fixed;
  right: 20px;
  top: 49px;
}
.b1, .b2, .b3 {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  margin: 9px 0px;
  transition: 1s;
}
.change{
  transform: rotate(-90deg);
  transition: all 0.3s;
}
.overlay, .overlay-popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
}
.burger-menu{
  color: #cdcdcd;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  background: #292929;
  padding-top: 248px;
	transition: transform 0.5s;
	transform: translateX(100%);
}
.burger-nav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  list-style: none;
  text-align: center;
  margin: 0px auto;
}
.burger-nav ul li, .burger-nav ul
li a {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 160%;
color: #FAFAFA;
margin: 0px auto;
margin-bottom: 43px;
max-width: fit-content;
text-align: center;
}
.burger-nav ul li a:hover {
  cursor: pointer;
  color: #fafafa;
  transition: all 1s;
}
.hidden{
  visibility: hidden;
}
.active{
  transform: translateX(0);
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade{
  0% {
    opacity: 0.4;
}
100% {
    opacity: 1;
}
}
.overlay-popup{
z-index: 5;
}
.friend-popup{
position: fixed;
float: left;
left: 50%;
top: 47%;
transform: translate(-50%, -50%);
width: 900px;
height: 500px;
text-align: right;
z-index: 100;
}
.cross-popup{
position: relative;
width: 48px;
height: 48px;
border: 2px solid #F1CDB3;
border-radius: 50%;
color: black;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
transition: width 1s, height 1s, transform 1s;
top: -1.5%;
left: 99.5%;
}
.cross-popup:hover {
  transform: rotate(-90deg);
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}
.popup-content{
  display: flex;
  width: 900px;
  height: 500px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FAFAFA;
  border-radius: 9px;
  justify-content: center;
}
.popup-img img{
  width: 500px;
  border-radius: 9px 0px 0px 9px;
}
.popup-text{
  padding: 50px 20px 0px 29px;
  font-family: 'Georgia';
font-style: normal;
color: #000000;
letter-spacing: 0.06em;
text-align: left;
}
.popup-text__name{
  font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
}

.popup-text__breed{
  font-size: 20px;
line-height: 115%;
margin-top: 10px;
margin-bottom: 40px;
letter-spacing: 0.06em;
}
.popup-text__desc{
 font-size: 15px;
line-height: 110%;
margin-bottom: 40px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
letter-spacing: 0.06em;
}
.popup-text__ul{
  list-style: none;
  font-size: 15px;
line-height: 110%;
padding-left: 10px;
letter-spacing: 0.06em;
}
.popup-text__ul li::before{
  margin-bottom: 10px;
    content: "\2022";
    color: #F1CDB3;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.fixed{
  position: fixed;
}
@media (max-width: 1279px) {
  .top-content-block {
    grid-template-columns: 569px;
    left: 0px;
    top: 150px;
    margin: 0px auto;
    max-width: 460px;
  }
  .top-content {
    top: 0px;
  }
  .top-image img {
    width: 569px;
    height: 593px;
    position: relative;
    left: calc(50% - 569px / 2 + 15px);
    bottom: 0px;
    top: 100px;
  }
  .start-block,
  .top-block {
    height: 1165px;
  }
  .header-btn {
    margin: 0px auto;
  }
  .about-block {
    flex-direction: column-reverse;
    max-width: 437px;
    height: 868px;
  }
  .about-section {
    padding: 35px 40px 145px 40px;
  }
  .about-img {
    width: 300px;
    height: 408px;
    left: 69px;
    top: 80px;
  }
  .friends {
    padding: 80px 30px 100px 30px;
  }
  .friend-hide {
    display: none;
  }
  .cat {
    margin-right: 0px;
  }
  .friends-block {
    margin: 0px auto;
    gap: 10px;
    max-width: 580px;
  }
  .friend:nth-child(1n+3){
   display: none
  }
  .left-puppy {
    margin-left: 10px;
  }
  .right-cat {
    margin-right: 20px;
  }
  .help-blocks {
    width: 630px;
    row-gap: 55px;
    column-gap: 60px;
    margin-top: 60px;
  }
  .help-item {
    width: 170px;
  }
  .help-name {
    padding-top: 25px;
  }
  .donation-block {
    flex-direction: column-reverse;
  }
  .donation-block {
    max-width: 380px;
  }
  .donat-text {
    padding-left: 0px;
  }
  .donation-text-small {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .donat-img {
    width: 505px;
    height: 261px;
    left: -60px;
    margin-top: 57px;
    margin-bottom: 5px;
  }
  .footer-container {
    padding: 30px 64px 0px 64px;
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    max-width: 680px;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .footer-first-block {
    max-width: 280px;
  }
  .footer-central-block {
    max-width: 302px;
  }
  .footer-item-title {
    padding-top: 0px;
  }
  .footer-puppy {
    top: 30px;
    left: 26%;
  }
  .friend-popup{
    width: 630px;
    height: 350px;
     }

    .popup-content{
      width: 630px;
      height: 350px;
    }
    .popup-img img{
      width: 350px;
    }
    .popup-text{
      padding: 10px 9px 0px 11px;
    }

    .popup-text__desc{
     font-size: 13px;
     margin-bottom: 20px;
    }
    .popup-text__breed{
      margin-bottom: 20px;
    }
    .popup-text__ul{
      max-height: 87px;
      overflow-y: auto;
    }

      .popup-text__ul li::before{
        margin-bottom: 10px;
          content: "\2022";
          color: #F1CDB3;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
      }
}
@media (max-width: 767px) {
  .nav-main {
    display: none;
  }
  .burger {
    display: block;
    cursor: pointer;
    z-index: 99;
  }

  header {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  .logo-def {
    margin-bottom: 0px;
  }
  .top-content-block {
    grid-template-columns: 300px;
    margin: 0px auto;
    max-width: 300px;
  }
  .header-title {
    font-size: 25px;
    text-align: center;
    max-width: 220px;
    padding-left: 40px;
    padding-right: 40px;
    height: 64px;
    letter-spacing: 0.06em;
  }
  .top-content {
    top: 0px;
    max-width: 300px;
  }
  .header-text {
    text-align: center;
  }
  .top-image img {
    width: 260px;
    height: 271.77px;
    position: relative;
    left: 13.33%;
    right: 0%;
    top: 4%;
    bottom: 0.03%;
  }
  .start-block,
  .top-block {
    height: 823px;
  }

  .about-section {
    padding: 42px 10px 62px 10px;
  }
  .friends,
  .donation-section,
  .help {
    padding: 42px 10px 42px 10px;
  }

  .about-title,
  .friends-title,
  .donat-title,
  .footer-item-title {
    margin: 0px auto;
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 270px;
    height: 64px;
    margin-bottom: 25px;
  }
  .about-text {
    max-width: 270px;
    margin: 0px auto;
    text-align: justify;
  }
  .about-img {
    max-width: 300px;
    height: 408px;
    left: 0px;
    top: 0px;
    text-align: center;
    margin: 0px auto;
  }
  .about-img img {
    width: 260px;
    margin: 0px auto;
    margin-top: 45px;
  }

  .friend:nth-child(1n+2){
    display: none
   }
  .friends-title {
    max-width: 300px;
  }
  .cat {
    margin-right: 0px;
  }
  .friends-block {
    margin: 0px auto;
    gap: 0px;
    text-align: center;
    max-width: 270px;
  }
  .small-hide{
    display: none
      }
  .right-cat {
    margin: 0px auto;
    margin-top: 20px;
  }
  .friend-name {
    padding-top: 25px;
  }
  .arrows {
    top: 1.25rem;
    max-width: 184px;
  }
  .know-rest-block {
    margin-top: 60px;
  }
  .help-blocks {
    max-width: 290px;
    row-gap: 25px;
    column-gap: 30px;
    margin-top: 40px;
    justify-content: space-between;
  }
  .help-item {
    max-width: 130px;
  }
  .help-item img {
    max-width: 50px;
  }
  .help-name {
    padding-top: 15px;
    font-size: 15px;
  }
  .donation-block {
    flex-direction: column-reverse;
  }
  .donation-block {
    max-width: 300px;
  }
  .donat-text {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 280px;
  }
  .telephone,
  .donation-text,
  .donation-text-small {
    max-width: 280px;
    font-size: 15px;
  }
  .donation-text-small {
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .donation-text {
    max-width: 280px;
    font-size: 12px;
    text-align: justify;
  }
  .donat-img {
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 5px;
    left: 0px;
    max-height: 140px;
  }
  .donat-img img {
    width: 260px;
    margin-bottom: 5px;
    padding-left: 20px;
  }

  .footer-container {
    padding: 30px 5px 0px 5px;
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    max-width: 680px;
    justify-content: center;
    padding-bottom: 30px;
  }
  .footer-first-block {
    max-width: 280px;
    text-align: center;
    padding-left: 35px;
  }
  .footer-icon {
    margin-right: 10px;
  }

  footer a {
    text-align: center;
  }
  .footer-central-block,
  .footer-item-contact1 {
    width: 290px;
  }
  .footer-central-block .footer-item-title {
    margin-top: 7px;
    margin-bottom: 40px;
  }
  .footer-item-title {
    padding-top: 0px;
  }
  .footer-central-block .footer-item-contact1 {
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .footer-puppy {
    top: 30px;
    left: 0;
  }
  .footer-puppy img {
    width: 260px;
    height: 269px;
  }
  .friend-popup{
    width: 240px;
    height: 341px;
    }

   .popup-content{
     width: 240px;
     height: fit-content;
   }
   .popup-img img{
     display: none;
   }
   .popup-text{
     padding: 10px;
   }
   .popup-text__name{
    margin-bottom: 10px;
    text-align: center;
  }
   .popup-text__desc{
    margin-bottom: 23px;
    text-align: justify;
   }
   .popup-text__breed{
     margin-bottom: 20px;
     text-align: center;
   }
   .popup-text__ul{
     max-height: 87px;
     overflow-y: auto;
   }
     .popup-text__ul li::before{
      margin-bottom: 5px;
        content: "•";
        color: #F1CDB3;
        font-weight: bold;
        display: inline-block;
    }
    .cross-popup{
      left: 92%;
      }
}
